<div class="footer-container">
  <div class="footer-copyright">2025 Transcripta</div>
  <div class="footer-email">
    <span>{{ 'FOOTER.OFFICIAL_EMAIL' | translate }}</span>
    <a [href]="'mailto:' + translatedEmail" class="footer-link">
      {{ translatedEmail }}
    </a>
  </div>

  <div class="footer-hours">
  <span>{{ 'FOOTER.WORKING_HOURS' | translate }}</span>
  </div>
  
  <div class="footer-links">
    <a
      href="https://www.xiaohongshu.com/user/profile/5ceac75f000000001201d735?xsec_token=YBCQNoCG3WCv-FbFnc-bz9CHoU39axM9TgeKXFbAQD7bo=&xsec_source=app_share&xhsshare=CopyLink&appuid=5ceac75f000000001201d735&apptime=1748088207&share_id=e086f7b1a8e14fa28cfc3fa3f400c070"
      target="_blank"
      rel="noopener noreferrer"
      class="footer-link"
    >
      <i class="pi pi-book footer-icon" style="color: #ff0000"></i>
    </a>
    <a
      href="https://space.bilibili.com/1768848933"
      target="_blank"
      rel="noopener noreferrer"
      class="footer-link"
    >
      <i class="pi pi-desktop footer-icon" style="color: blue"></i>
    </a>
  </div>
</div>
