@use "primeicons/primeicons.css";

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  color: black;
  z-index: 1000; /* Ensure it's above other content */
  padding: 10px 20px;
  display: block;
  justify-content: space-between; /* Space between items */
  align-items: center;
  transition: top 0.3s ease-in-out;
}

/* Content inside the navbar */
.navbar-content {
  display: flex;
  justify-content: space-evenly; /* Evenly spread out the content */
  align-items: center;
  width: 100%;
}

.navbar button {
  font-size: 1.2rem;
  padding: 5px 15px; /* Add some padding for better click area */
}

.topbar-theme-button {
  padding: 0;
  font-size: large;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 10px; /* Reduce padding for smaller screens */
  }

  .navbar-content {
    flex-direction: row; /* Stack buttons vertically */
    gap: 15px; /* Space out buttons */
    align-items: flex-start; /* Align items to the left */
    width: 100%;
  }

  .navbar button {
    width: 100%; /* Make buttons take full width */
    font-size: 1rem; /* Slightly reduce font size for better mobile readability */
    padding: 10px 0; /* Make buttons taller for easier tapping */
  }

  .topbar-theme-button {
    width: 100%; /* Make the dark mode toggle button take full width */
    font-size: 1.2rem; /* Adjust icon size */
  }

  /* Hide the text on mobile */
  .navbar button span {
    display: none;
  }

  /* Optionally, adjust icon sizes on smaller screens */
  .navbar button i {
    font-size: 1.8rem; /* Larger icons for mobile */
  }
}

@media (max-width: 480px) {
  .navbar-content {
    padding: 0 10px; /* Add padding around content on very small screens */
  }

  .navbar button {
    font-size: 0.9rem; /* Reduce font size for very small screens */
  }

  .navbar button i {
    font-size: 1.5rem; /* Smaller icons on very small screens */
  }
}

.language-select {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 4vh;
  width: 6vw;
}

//Dark mode

html.p-dark .navbar {
  background-color: rgba(33, 33, 33, 0.95); /* Dark background */
  color: white;
}

html.dark .navbar button {
  color: white;
}
